---
import { useI18n } from '~/i18n/utils'
import Layout from '~/layouts/Layout.astro'
import Desktop from './desktop/Desktop.astro'
import Mobile from './Mobile.astro'

const { t } = useI18n(Astro.url.pathname)
const { title, date } = Astro.props
---

<Layout pageName={t('nav.agenda')}>
  <div class="container">
    <h1 class="my-12">{t('agenda.title')}</h1>

    <div class="mb-8 flex gap-4">
      <a href="#" class="btn btn-info flex gap-1 px-14!">
        <iconify-icon icon="mdi:text-box-edit" width="24" height="24" style="width: 24px; height: 24px"></iconify-icon>
        <span>{t('agenda.main_note')}</span>
      </a>
      <a href="#" class="btn btn-info flex gap-1 px-14!">
        <iconify-icon icon="mdi:video" width="24" height="24" style="width: 24px; height: 24px"></iconify-icon>
        <span>{t('agenda.main_live')}</span>
      </a>
    </div>
  </div>

  <Desktop title={title} date={date} />
  <Mobile title={title} date={date} />
</Layout>

<script>
  import { showModalWith } from '~/utils/client/modal'

  const agendaGridEl = document.querySelector('#agenda-grid')
  const sessionsEl = document.querySelector('#sessions')

  agendaGridEl?.addEventListener('click', showSessionModal)
  sessionsEl?.addEventListener('click', showSessionModal)

  function showSessionModal(e: Event) {
    const target = e.target as HTMLElement
    const session = target.closest('.session')
    if (!session) return

    showModalWith({
      header: session.querySelector('.modal-content .header').innerHTML,
      body: session.querySelector('.modal-content .body').innerHTML,
    })
  }
</script>

<style is:global>
  #navbar {
    position: relative;
  }
</style>
