---
import { getLocaleFromPath } from '~/i18n/utils'

const { className } = Astro.props

const locale = getLocaleFromPath(Astro.url.pathname)
const isZhTW = locale === 'zh-tw'
---

<span class:list={[className, 'rounded-full px-4 pb-0.5', isZhTW ? 'pt-1' : 'pt-0.5']}>
  <slot />
</span>
