---
import Icon from '~/components/Icon.astro'
---

<div class="flex items-center gap-2 border-b border-[#848484]">
  <Icon name="mdi:magnify" width="24" />
  <input class="agenda-search w-full outline-none" type="text" />
</div>
