---
import { ctColorMap } from './ctColorMap'
import { hrefForAgendaSession } from '~/utils/build/agenda/hrefForAgendaSession'
import { getLocaleFromPath, useI18n } from '~/i18n/utils'
import schedule from '~/data/schedule.json'
import Badge from '~/components/agenda/Badge.astro'

const { t } = useI18n(Astro.url.pathname)
const locale = getLocaleFromPath(Astro.url.pathname)
const isZhTW = locale === 'zh-tw'

const { session } = Astro.props

const tags = session.tags.map(tagId => tagIdToDetail(tagId))
const type = typeToDetail(session.type)

function tagIdToDetail(tagId) {
  return schedule.tags.find(tag => tag.id === tagId)
}

function typeToDetail(type) {
  return schedule.session_types.find(t => t.id === type)
}

const isEvent = session.type === 'E'
const isUnique = session.zh.title === type.zh.name
const ctTag = session.tags.find(tagId => tagId.startsWith('CT-'))
const ctSession = ctTag ? schedule.sessions.find(session => session.id === ctTag) : null
---

<div class="my-2 flex flex-wrap gap-2 text-xs text-white">
  {session.type && !(isEvent || isUnique) && <Badge className="bg-info-dark">{isZhTW ? type.zh.name : type.en.name}</Badge>}
  {session.language && <Badge className="bg-[#585858]">{t(`language.${session.language}`)}</Badge>}
  {
    tags.map(tag => {
      const tagName = isZhTW ? tag.zh.name : tag.en.name
      return ctSession ? (
        <Badge style={`background-color: ${ctColorMap[ctSession.id]}`} href={hrefForAgendaSession(locale, ctSession.start, ctSession.id)}>
          {tagName}
        </Badge>
      ) : (
        <Badge className="bg-[#A4A4A4]">{tagName}</Badge>
      )
    })
  }
</div>
