---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLocaleFromPath } from '~/i18n/utils'
import schedule from '~/data/schedule.json'
import { extractHHmm } from '~/utils/build/agenda/extractHHmm'
import DayLink from '~/components/agenda/DayLink.astro'
import RoomCard from '~/components/agenda/desktop/RoomCard.astro'
import Time from '~/components/agenda/desktop/Time.astro'
import Session from '~/components/agenda/Session.astro'
import Search from '~/components/agenda/Search.astro'

const locale = getLocaleFromPath(Astro.url.pathname)
const { title, date } = Astro.props

const times = new Set()
const sessions = []
schedule.sessions.forEach(session => {
  if (session.start.startsWith(date)) {
    times.add(extractHHmm(session.start))
    times.add(extractHHmm(session.end))
    sessions.push(session)
  }
})
---

<div class="agenda hidden lg:block">
  <div class="sticky top-0 z-30 mb-6 flex flex-col justify-center bg-white" style="height: var(--agenda-header-height);">
    <div class="container">
      <div class="mt-4 mb-5 flex gap-4">
        <DayLink href={getRelativeLocaleUrl(locale, 'agenda/day1')} title="Day 1" curTitle={title} />
        <DayLink href={getRelativeLocaleUrl(locale, 'agenda/day2')} title="Day 2" curTitle={title} />
        <div class="ml-auto">
          <Search />
        </div>
      </div>

      <div class="agenda-grid grid text-center">
        <div></div>
        <RoomCard room="R0" />
        <RoomCard room="R1" />
        <RoomCard room="R2" />
        <RoomCard room="R3" />
        <RoomCard room="RH" />
      </div>
    </div>
  </div>

  <div class="container">
    <div id="agenda-grid" class="agenda-grid relative grid">
      {Array.from(times).map(time => <Time at={time} />)}
      {sessions.map(session => <Session session={session} />)}
    </div>
  </div>
</div>

<style>
  .agenda-grid {
    grid-template-columns: [time] 4rem [R0] 1fr [R1] 1fr [R2] 1fr [R3] 1fr [RH] 1fr [end] auto;
  }
</style>

<style is:global>
  .agenda {
    --agenda-header-height: 130px;
  }
</style>
