---
const { at } = Astro.props

const row = parseInt(at.replace(':', '')) || 0

const style = at ? `grid-area: ${row} / time` : ''
---

<div class="agenda-timeline z-0 block" style={style}>
  <div class="translate-y-[-50%] font-medium text-[#7C7C7C]">{at}</div>
</div>

<style>
  .agenda-timeline:before {
    content: '';
    position: absolute;
    left: 4rem;
    right: 0;
    height: 1px;
    padding-top: 2px;
    border-top: 1px solid #d7d7d7;
  }
</style>
