@import 'tailwindcss';
@theme {
  --text-base: 18px;
  --font-sans: Onest, 'Noto Sans TC', sans-serif;
  --font-serif: Amarna, 'LXGW WenKai TC', serif;
  --color-brand: #f25549;
  --color-primary: #df6258;
  --color-primary-dark: #9e3027;
  --color-primary-light: #ff8f86;
  --color-info: #3c89c2;
  --color-info-dark: #195078;
  --color-info-light: #a1d7ff;
}
