@import './_tailwind.css';

@layer base {
  :root {
    @apply scroll-pt-18 scroll-smooth md:scroll-pt-28;
  }
  body {
    @apply font-sans text-base leading-relaxed;
    letter-spacing: 0.5px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply md:text-4xl text-3xl;
  }
  h2 {
    @apply md:text-3xl text-2xl;
  }
  h3 {
    @apply md:text-2xl text-xl;
  }
  h4 {
    @apply md:text-xl text-lg;
  }
  h5 {
    @apply md:text-lg text-base;
  }
  p {
    @apply leading-8;
    &:not(:last-child) {
      @apply mb-3;
    }
  }
  address {
    @apply not-italic;
  }
  ul {
    @apply mb-2 list-outside list-disc pl-6;
    li {
      @apply mb-1;
    }
  }
  ol {
    @apply mb-2 list-outside list-decimal pl-6;
    li {
      @apply mb-1 ps-1;
    }
  }
  b,
  strong {
    @apply font-bold;
  }
  small {
    @apply text-sm;
  }
  button {
    @apply cursor-pointer;
  }
  button:active,
  button:focus,
  a:active,
  a:focus {
    @apply outline-none;
  }
  main {
    a:not(.btn, .nav-link) {
      &:link,
      &:visited {
        @apply text-primary;
        @apply no-underline;
        &:hover {
          @apply underline;
        }
      }
    }
    a[disabled] {
      @apply text-neutral-500! no-underline!;
    }
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 md:max-w-3xl lg:max-w-5xl xl:max-w-7xl;
  }
  .btn {
    @apply inline-flex cursor-pointer items-center justify-center rounded-lg px-4 py-2 leading-none duration-200 focus:outline-none;
  }
  .btn-sm {
    @apply px-2 py-1 text-sm;
  }
  .btn-lg {
    @apply px-7 py-3 text-xl font-bold lg:text-2xl;
  }
  .btn-brand {
    background: linear-gradient(to left, var(--color-brand) 40%, var(--color-info) 60%);
    background-size: 300% 100%;
    background-repeat: no-repeat;
    transition: background-position 0.3s ease;
    background-position: 100% 0;
    &:hover {
      background-position: 0% 0;
    }
  }
  .btn-text-dark {
    @apply hover:text-primary px-0 text-neutral-800 transition-colors;
  }
  .btn-primary {
    @apply bg-primary hover:bg-primary-dark text-white;
  }
  .btn-outline-primary {
    @apply border-primary text-primary hover:bg-primary border hover:text-white;
  }
  .btn-info {
    @apply bg-info hover:bg-info-dark text-white;
  }
  .btn-outline-info {
    @apply border-info text-info hover:bg-info border hover:text-white;
  }
  .btn-outline-dark {
    @apply border border-neutral-500 text-neutral-500 hover:bg-neutral-500 hover:text-white;
  }
  .icon-18 {
    @apply h-4.5 w-4.5 text-lg;
  }
  .nav-link {
    @apply flex h-full cursor-pointer items-center px-4 text-nowrap transition-[background-color] hover:bg-neutral-500;
  }

  .scroll-x {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--color-brand) white;
    @apply overflow-x-auto overflow-y-hidden;
  }
}

#burger {
  @apply h-[2.5px] w-5 rounded-full bg-white transition-all;
  &:before,
  &:after {
    content: ' ';
    @apply absolute block h-[2.5px] w-5 rounded-full bg-white;
  }
  &:before {
    animation: burger-t-Out 0.3s ease forwards;
  }
  &:after {
    animation: burger-b-Out 0.3s ease forwards;
  }
  &.is-active {
    @apply bg-transparent;
    &:before {
      animation: burger-t-In 0.3s ease forwards;
    }
    &:after {
      animation: burger-b-In 0.3s ease forwards;
    }
  }
}

@keyframes burger-t-In {
  0% {
    transform: rotate(0deg) translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes burger-t-Out {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(-7px);
  }
}

@keyframes burger-b-In {
  0% {
    transform: rotate(0deg) translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-225deg);
  }
}

@keyframes burger-b-Out {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(7px);
  }
}

footer {
  .rolling-list a {
    @apply text-neutral-600;
    &:hover > * {
      animation: iconMouseIn 0.3s ease forwards;
    }
    &:not(:hover) > * {
      animation: iconMouseOut 0.3s ease forwards;
    }
  }
}

@keyframes iconMouseIn {
  0% {
    transform: translateY(0);
    opacity: 1;
    color: inherit;
  }
  49% {
    opacity: 0;
    transform: translateY(-15px);
  }
  50% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    color: var(--color-primary);
  }
}

@keyframes iconMouseOut {
  0% {
    color: var(--color-primary);
  }
  100% {
    color: inherit;
  }
}
