div(class="flex flex-col items-center gap-4 md:gap-2 mb-12")
  div(class="max-md:text-center font-bold whitespace-nowrap text-lg md:text-2xl")
    span(data-i18n="common.submitCloseIn") 距離徵稿結束剩下
  div(id="flipdown" class="flipdown")