div(class="flex flex-col md:flex-row md:items-center gap-4 md:gap-2 mb-12")
  div(class="max-md:text-center font-bold whitespace-nowrap text-lg md:text-2xl")
    span(data-i18n="index.countdown.1") 距離徵稿結束剩下
    .animate-bounce.inline-block: span.submission-deadline.text-secondary.mx-2
    span(data-i18n="index.countdown.2") 天
  div(class="h-4 w-full bg-neutral-200 rounded-full grow ml-2")
    div(class="submission-deadline-progress h-full bg-secondary rounded-full" style="width: 0%")