h2(class="max-md:text-center text-3xl md:text-4xl mb-12 font-bold" data-i18n="common.dates") 重要日程
div.timeline(class="flex flex-wrap gap-11 mb-12 md:gap-x-3 justify-between items-center")
  mixin timelineItem(text, dateText, dateI18n, date, icon, i18nKey)
    div.timeline-item(class="flex flex-col items-center gap-3 self-start max-md:w-full")
      div.timeline-icon.opacity-50.w-22.h-22.border.rounded-full.flex
        img.m-auto(alt="敬請期待", src=`assets/img/icons/${icon}.svg`)
      time(class="text-xl md:text-2xl font-bold tracking-tight text-neutral-400" data-i18n=dateI18n datetime=date)!= dateText
      h3.timeline-item-title(class="text-2xl md:text-3xl font-bold text-center tracking-tight max-w-48" data-i18n=`[html]common.dates.${i18nKey}.title`)= text

  +timelineItem("徵件開始", "2025/12/15", "date.cfpStart", "2025-12-15", "mailbox", 1)
  +timelineItem("徵件截止", "2026/01/25 23:59", "date.cfpEnd", "2026-01-26T00:00:00+08:00", "mailbox-lock", 2)
  +timelineItem("通知投稿結果", "2026/02 中旬", "date.submissionResult", "2026-02-30", "notification-multiple", 3)
  +timelineItem("公告議程", "2026/03/30", "date.announceAgenda", "2026-03-30", "event-note", 4)
  +timelineItem("g0v Summit 2026", "2026/05/23-24", "date.summit", "2026-05-23", "today", 5)
