extend _layout.pug
block variables
  - title = "徵件中"
block main
    #top-block.w-full.h-svh.relative
      img.absolute.top-0.left-0.w-full.h-full.object-cover(src="assets/img/test.jpg", alt="")
      .container.px-12.pt-6.relative
        .rounded-md.bg-white.p-4.w-full.flex.flex-wrap.items-center.shadow-lg
          img.h-8.w-auto.my-auto(src="assets/img/g0v-summit-logo.svg", alt="")
          #timer.mx-auto.w-max.my-auto 提案截止 2026 年 1 月 5 日 尚餘 <span></span> 天
          .flex.items-center.ml-auto.my-auto
            a(href="/about-cfp") 投稿說明
            a.btn.btn-primary.ml-4(href="#" class="md:ml-8") 我要投稿
            a.btn.btn-outline-primary.ml-4(href="#", target="_blank") 訂閱電子報
      
      .absolute.text-white.p-4(class="left-8 bottom-8 md:left-1/4 md:bottom-1/4 bg-primary/80")
        h2.mb-1 summit 2026
        h5.mb-1 2026.5
        h5.mb-1 Taipei, Taiwan

    #text-part1.container.py-20
      h1.mb-20.text-6xl.text-center 「反客為主」
      .mb-10
        h2.mb-6 關於 g0v
        p g0v 是一個草根式的公民社群，致力於加深公民對社會的貢獻以及彼此間的連結。透過 g0v 社群，你可以在這裡尋找志同道合的夥伴，以草根的方式實踐你的理念，並將成果以開放授權模式釋出，讓更多的人可以站在你的成果上接力賽跑。
        p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也代表數位原生世代從 0 與 1 世界的視野。
      .mb-10
        h2.mb-6 重要日程
        ul
          li 2026/1/5：投稿截止
          li 202//：開放索票
          li 2026/5/23、5/24：g0v Summit 2026
      .mb-10
        h2.mb-6 合作夥伴
        p a b c

block script
  script(src="assets/js/index.js?v="+timestamp)