---
import Layout from '~/layouts/Layout.astro'
import ModelViewer from '../components/ModelViewer.astro'
---

<Layout>
  <div class="h-[calc(100vh-56px)] w-full md:h-[calc(100vh-112px)]">
    <ModelViewer modelPath="models/plastic-stool-r.glb" initCamera={[0.8, 0.8, 0]} />
  </div>
</Layout>
