---
import Layout from '~/layouts/Layout.astro'
import { useI18n } from '~/i18n/utils'

const { t } = useI18n(Astro.url.pathname)
---

<Layout pageName={t('nav.about')}>
  <h1>{t('nav.about')}</h1>
</Layout>
