---
import Layout from '~/layouts/Layout.astro'
import Icon from '~/components/Icon.astro'
import SponsorCard from '~/components/SponsorCard.astro'
import { useI18n } from '~/i18n/utils'

const { t } = useI18n(Astro.url.pathname)
---
<Layout pageName={t('nav.notice')}>
  <main class="container py-8 md:py-12">
    <h1>行前通知信</h1>
    <p>親愛的夥伴您好，</p>
    <p>g0v Summit 2026 將在 5 月 23 日揭開序幕，很高興能在今年的年會與您相見！我們特別整理了行前資訊，敬請詳細閱讀。</p>
    <p>本信件包含<strong>報到所需的數位憑證</strong>連結，請務必事前下載「數位憑證皮夾」並點選連結匯入門票，以利年會當天順利報到。</p>
    <h3>年會時間與地點</h3>
    <h4>時間</h4>
    <p>2026 年 5 月 23 日（六）08:30~17:40<br />2026 年 5 月 24 日（日）08:30~17:30</p>
    <h4>會場</h4>
    <p>
      中央研究院 人文社會科學館（台北市南港區研究院路二段128號）<br /><a href="https://www.openstreetmap.org/?mlat=25.041528&mlon=121.611472#map=17/25.041528/121.611472">OSM 開放街圖</a>、<a
        href="https://maps.app.goo.gl/LVEvAzn1x7rboLUJ6">Google 地圖</a
      >
    </p>
    <h4>移動方式</h4>
    <p>您可以以大眾運輸工具移動至南港，再轉乘公車、接駁車、或自行車抵達會場。詳情請參酌<a href="https://summit.g0v.tw/2026/visit/">年會網站</a>。</p>
    <p><strong>抵達南港：</strong><br />搭乘南港站（台鐵、高鐵或台北捷運板南線）或南港展覽館站（台北捷運板南線、文湖線）</p>
    <p><strong>轉乘至中研院：</strong><br />您可以於南港站或南港展覽館站轉乘公車至「中研院」站，或騎乘 YouBike 至中研院。<br />年會亦提供南港車站至人文社會科學館的接駁車：</p>
    <ul>
      <li>路線名稱：「<strong>g0v Summit 交通車</strong>」</li>
      <li>接駁時間：7:45–10:10（約 20 分鐘一班）</li>
      <li>出發地點：<strong>南港車站</strong>於市民大道上的公車站牌（<a href="https://maps.app.goo.gl/kwUMzPvwvbm6ZE7z9">Google 地圖</a>）</li>
    </ul>
    <p>若您選擇搭乘接駁車，敬請提早抵達站牌候車。</p>
    <p><strong>自行開車：</strong></p>
    <ul>
      <li>國道3號南深路出口匝道→舊莊街一段→研究院路二段→中研院大門。</li>
      <li>車輛進入中研院區，請持證件向大門警衛室換取臨時通行證並依規定停放。</li>
      <li>機車無法駛入中研院，請停放在中研院大門右側、四分溪旁側門、或是胡適公園旁的機車停車場。</li>
    </ul>
    <h2>報到流程</h2>
    <h4>報到時間</h4>
    <p>兩日皆為 8:30 開始。</p>
    <h4>數位皮夾報到流程（需要一定版本以上的 Android 或 iOS 手機）</h4>
    <ol>
      <li><p>於 Google Play 或 App Store 下載數位發展部的<a href="https://wallet.gov.tw/zh-tw">「數位憑證皮夾」App</a>，並完成初始設定。</p></li>
      <li><p>開啟以下連結，使用「數位憑證皮夾」 App 掃描網站中的 QR Code，即可將票證加入皮夾中。<br /><strong>-</strong></p></li>
      <li><p>當您抵達報到現場時，工作人員將會出示驗證 QR Code，請您使用 App 掃描：</p></li>
      <img src="./img/TWDIW.png" class="w-full max-w-64 my-4" />
      <li><p>您可以預覽大會會索取的證件資訊；確認並送出後，即可完成報到。</p></li>
    </ol>
    <h4>離線報到</h4>
    <p>若您無法使用「數位憑證皮夾」App，請牢記您的票號：<strong>-</strong>，並於排隊入場時沿著「人工報到」的方向前往服務檯，告知票號並完成身分確認，即可完成報到。</p>
    <h4>學生票注意事項</h4>
    <p>若您購買學生票，請在入場時出示<strong>在學身分證明</strong>（以下內容擇一符合即可）：</p>
    <ol>
      <li>出生日期為 <strong>2008 年 5 月 23 日</strong>（含）以後，需攜帶有照片之<strong>身分證件</strong>。（身份證、健保卡等）</li>
      <li>持有由學校核發之 114 學年度第二學期<strong>有效學生證、在學證明</strong>，或任何能夠證明 114 學年度第二學期為學生身分之文件。</li>
    </ol>
    <h2>議程</h2>
    <p>
      今年的議程非常精彩！請參考<a href="https://summit.g0v.tw/2026/agenda/day1/">官方網站</a>的最新議程表，千萬別錯過囉。<br />每場議程皆會有<a href="https://g0v.hackmd.io/@summit2026/notes">共筆</a
      >，歡迎將講者分享的內容一起加到共筆之中。
    </p>
    <h4>公務人員學習時數</h4>
    <p>
      本次部分議程將由數位發展部採計為公務人員學習時數。<br />若您為公務機關同仁，請先<a href="https://forms.gle/tAERALVCm2nxdsYV8">填寫此表單</a
      >登記您的身分證字號，並在議程開始與結束時，至議程助理處以數位憑證皮夾簽到。我們將在會後併同簽到紀錄提交數位發展部核發時數。
    </p>
    <h2>聊天室</h2>
    <p>年會將使用 g0v Slack 作為溝通管道。<br />若您還沒有 g0v Slack 帳號，請點選以下連結加入：<a href="https://join.g0v.tw">https://join.g0v.tw</a></p>
    <p>以下是你需要知道的重要頻道，請記得加入，確保能獲得最通暢的聯絡體驗哦：</p>
    <ul>
      <li>#general：g0v 社群的一般頻道</li>
      <li>#rand0m：即時聊天室，訊息會彈幕出現在螢幕上</li>
      <li>#summit：g0v Summit 年會頻道</li>
    </ul>
    <h2>大會公告／廣播</h2>
    <p>年會將透過 OPass、Instagram、Threads 等管道即時發布大會訊息，建議您追蹤上述平台，以即時取得相關通知。</p>
    <p>各平台公告位置：</p>
    <ul>
      <li>OPass：大會公告（無推播通知）</li>
      <li><a href="https://www.instagram.com/g0v.summit/">Instagram (@g0v.summit)</a>：限時動態（可設定推播通知）</li>
      <li><a href="https://www.threads.com/@g0v.summit">Threads (@g0v.summit)</a>：貼文（可設定推播通知）</li>
    </ul>
    <h2>活動</h2>
    <h4>第一天晚上交流聚</h4>
    <p>時間：17:40~20:00<br />地點：四樓交誼廳（RH）</p>
    <p>對第一天的議程還意猶未盡嗎？想要聊的、想要分享的，還沒有盡興嗎？快到四樓來，<del>晚上繼續聊天到天明</del>₍₍ ᕕ(´ ω` )ᕗ⁾⁾。此次的交流聚還提供，輕量的食物和小點心，供大家吃胖胖喔。</p>
    <h4>第二天開放工作坊</h4>
    <p>開放工作坊即將登場！這是一個由下而上、由現場參與者共同決定的議程空間。無論你有一個絕妙的點子想找人討論，還是有一個開發中的專案想徵求貢獻者，都歡迎你來提案！</p>
    <ul>
      <li>會場三樓走道指定白板區域，為開放工作坊的提案地點。</li>
      <li>會眾領取識別證時，會同步發放開放工作坊投票貼紙，一人 3 張。</li>
      <li>在 Summit 期間，開放給會眾用貼紙投票，貼給最有興趣的專案。</li>
      <li>投票至 2026 年 5 月 23 號（六）下午 17:00（UTC+8）截止。</li>
    </ul>
    <h4>第二天下午閃電講</h4>
    <p>手上有剛挖好的新坑、驚人的專案成果，還是憋了兩天不吐不快的想法？閃電講是你這次在 g0v Summit 2026 登上 R0 大螢幕、對社群大聲呼喊的最後機會！</p>
    <ul>
      <li>**時間：**5/24 (Day 2) 16:40 - 17:10</li>
      <li>**地點：**R0 國際會議廳</li>
      <li>**時間限制：**每人 4 分鐘（時間到強制下台）</li>
      <li>**報名方式：**閃電講當天中午 12:10 在三樓報到台旁的白板開放報名</li>
    </ul>
    <h4>大會紀念品、大地遊戲</h4>
    <p>
      今年年會有設計可愛的紀念品，並且同時有宣傳組的攤位集章、以及合作夥伴 CRC 賽伯格韌性實驗室設計的斷網體驗解謎遊戲！攤開年會網站的<a href="https://summit.g0v.tw/2026/venue/">會場地圖</a
      >、睜大眼睛，別錯過這些有趣的互動囉。
    </p>
    <h2>餐點</h2>
    <ul>
      <li>所有議程廳皆<strong>禁止飲食</strong>，如需帶水進入請務必使用<strong>有蓋水瓶</strong>進場。</li>
      <li>
        午餐將於 <strong>中午 12:00</strong> 於 4F 南北兩側開放領取，如需領用素食請至<strong>北側發餐區</strong>領取。 <ul>
          <li>由於本次使用環保餐盒 / 餐具，使用完畢後請歸還，依現場工作人員指示回收。</li>
          <li>排隊領餐時請出示您的<strong>數位憑證皮夾</strong>，現場購票者請出示實體識別證</li>
        </ul>
      </li>
      <li>點心將於 <strong>下午 03:00</strong> 於 4F 南北兩側開放領取，如需領用素食請至<strong>北側發餐區</strong>領取。</li>
    </ul>
    <h2>注意事項</h2>
    <ul>
      <li>攝錄影團隊會於活動期間進行影像紀錄，並在拍攝後公開發布至官方相簿等媒體。若您不同意本活動公開您為主體之照片，請於報到台領用隱私識別證件帶（紅色頸繩）。</li>
      <li>若遇颱風或其他天然災害，本活動將依照臺北市政府之停班公告決定是否舉行，屆時請留意 <a href="https://summit.g0v.tw/2026/">g0v Summit 2026 官網與社群媒體</a>之公告。</li>
      <li>本活動委託應援科技代理退票與退費。詳情請見應援科技代理<a href="https://tech.oen.tw/posts/23dN4MCocBJDRjjvgCTWxuVZmNs?locale=zh-TW">退換票辦法</a>。</li>
      <li>如您有需另外開立統編/單位抬頭之需求，再請另與票務信箱（<a href="mailto:ticket@summit.g0v.tw">ticket@summit.g0v.tw</a>）聯繫。</li>
      <li>更多關於今年年會的訊息，請參閱 <a href="https://summit.g0v.tw/2026/">g0v Summit 2026 大會官方網站</a>。</li>
      <li>主辦單位保有對「g0v Summit 2026」的最終修改、變更、活動解釋及取消本活動之權利。</li>
    </ul>
    <h2>行為準則</h2>
    <p>g0v 社群參與者應共同致力於提供一個友善且無騷擾的環境給每一位參與者，無論其性別、性傾向、年紀、身心理狀態、外貌、族群、信仰、政治立場或技術偏好。</p>
    <p>在任何社群線上、線下活動使用含有影射性、暴力、與歧視的言語及意象，包括在黑客松、研討會、講座、工作坊、聚會、社群媒體、聊天室等場域，甚至源碼或各類文件中，皆是不恰當的。</p>
    <p>
      若違反守則，管理員或坑主應當且有權驅離違反守則者，其它參與者亦得主動制止其騷擾或不恰當的行為。任何參與者皆沒有責任對任何遭驅離者已投入的金錢、資源等（如報名費、捐款等）做退還或補償。講者、贊助者、貢獻者與坑主等角色亦為參與者的一員，因此這些角色同樣受到此守則的規範。
    </p>
    <p>騷擾包含：</p>
    <ul>
      <li>關於性別、性傾向、身心理狀態、外貌、族群、信仰、政治立場或技術偏好等等的口頭冒犯評論；</li>
      <li>於公共場所展示帶有性含意的圖片；</li>
      <li>故意恐嚇、跟蹤、追隨、騷擾攝影與錄影人員；</li>
      <li>持續以言語或其他形式干擾演講、線上協作或其他活動進行；</li>
      <li>不適當的肢體接觸；</li>
      <li>以及不受歡迎的性關注。</li>
      <li>當參與者要求停止騷擾行為時，請即刻停止相關的騷擾行為。</li>
    </ul>
    <p>如果您被騷擾，或者發現有人被騷擾，或有任何其他疑慮，請立刻向其他參與者、管理員或活動籌備團隊求助。</p>
    <p>於年會當天發生的騷擾事件請立即尋求協助，若您於年會結束後發現的不適情形，請詳見：<a href="https://summit.g0v.tw/2026/coc-procedure/">年會《社群守則》申訴流程</a>。</p>
    <p>g0v 社群預期所有的參與者無論在任何線上／線下場域，都能夠遵守上述規則。</p>
    <p>以上節錄自<a href="https://g0v.tw/coc/">《零時政府社群守則》</a>（最後修訂日期：2023/04/05）</p>
  </main>
</Layout>

<style>
  @reference "~/styles/_tailwind.css";
  h1 {
    @apply mb-8;
  }
  h2, h3, h4 {
    @apply mt-6 mb-4;
  }
</style>