---
import Layout from '~/layouts/Layout.astro'
import Link from '~/components/Link.astro'
import Icon from '~/components/Icon.astro'
import QA from '~/components/QA.astro'
import OpassDownload from '~/components/OpassDownload.astro'
import { useI18n } from '~/i18n/utils'

const { t } = useI18n(Astro.url.pathname)
---

<Layout pageName={t('nav.register')}>
  <main class="container py-8 md:py-12">
    <h1 class="mb-8">{t('nav.register')}</h1>
    <div class="mb-12">
      <a href="https://summit.g0v.tw/tickets" target="_blank" rel="noopener noreferrer" class="btn btn-primary flex items-center gap-2 md:inline-flex">
        {t('register.cta')}<Icon name="mdi:external-link" width="22" />
      </a>
    </div>

    <div class="mb-12 grid gap-8 md:grid-cols-2">
      <div class="flex flex-col">
        <h4 class="text-info-dark mb-2">{t('register.time')}</h4>
        <div class="mb-4">2026.05.23-24 | 09:00-17:30</div>
        <div class="mt-auto">
          <a
            href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=g0v+Summit+2026&dates=20260523T010000Z/20260524T093000Z&details=g0v+Summit+2026&location=Academia+Sinica"
            target="_blank"
            class="btn btn-primary flex items-center gap-2 md:inline-flex"
          >
            {t('register.add_to_calendar')}<Icon name="mdi:external-link" width="22" />
          </a>
        </div>
      </div>
      <div class="flex flex-col">
        <h4 class="text-info-dark mb-2">{t('register.location')}</h4>
        <div class="mb-4">
          {t('register.location_value_1')}<br />
          <span class="text-gray-700">{t('register.location_value_2')}</span>
        </div>
        <div class="mt-auto">
          <Link href="visit" class="btn btn-primary flex items-center gap-2 md:inline-flex">
            {t('register.transportation')}<Icon name="mdi:external-link" width="22" />
          </Link>
        </div>
      </div>
    </div>
    <hr />
    <div class="my-12">
      <h2 class="mb-8">{t('register.ticket_info.title')}</h2>
      <ol>
        <li set:html={t('register.ticket_info.li1')} />
        <li>{t('register.ticket_info.li2')}</li>
      </ol>
    </div>
    <div class="my-12">
      <h2 class="mb-8">{t('register.howto.title')}</h2>
      <div class="mb-8">
        <p set:html={t('register.howto.p1')} />
        <h3 class="mt-12 mb-6">{t('register.howto.method1.title')}</h3>
        <ol>
          <li set:html={t('register.howto.method1.li1')} />
          <li set:html={t('register.howto.method1.li2')} />
          <li set:html={t('register.howto.method1.li3')} />
          <li set:html={t('register.howto.method1.li4')} />
        </ol>
        <h3 class="mt-12 mb-6">{t('register.howto.method2.title')}</h3>
        <ol>
          <li>{t('register.howto.method2.li1')}<a href="https://tech.oen.tw/posts/23dOWUuecAV87tNHAgmHCf0KSod?locale=zh-TW" target="_blank">{t('register.howto.step')}</a></li>
          <li>{t('register.howto.method2.li2')}</li>
          <li>{t('register.howto.method2.li3')}</li>
        </ol>
        <h3 class="mt-12 mb-6">{t('register.howto.method_cash.title')}</h3>
        <p>{t('register.howto.method_cash.p')}</p>
        <h2 class="mt-12 mb-6" set:html={t('register.howto.whatis.title')} />
        <p><b>{t('register.howto.whatis.p1')}</b></p>
        <p set:html={t('register.howto.whatis.p2')} />
        <p set:html={t('register.howto.whatis.p3')} />
        <p set:html={t('register.howto.whatis.p4')} />
      </div>
    </div>
    <div class="my-12">
      {
        [1, 2, 3, 4].map(i => {
          return <QA qKey={`register.qa.q${i}`} aKey={`register.qa.a${i}`} />
        })
      }
    </div>
    <div class="mt-12 mb-20">
      <p>{t('register.howto.whatis.p5')}</p>
    </div>
    <OpassDownload />
  </main>
</Layout>
