---
import Layout from '~/layouts/Layout.astro'
import { useI18n } from '~/i18n/utils'
import Venue3F from '~/components/Venue3F.astro'
import Venue4F from '~/components/Venue4F.astro'
import Link from '~/components/Link.astro'
import Booth from '~/components/Booth.astro'
import booth_data from '~/data/booth.json'

const booth_3f = booth_data.filter(booth => booth.publish && booth.floor === '3F').sort((a, b) => a.id - b.id)
const booth_4f = booth_data.filter(booth => booth.publish && booth.floor === '4F').sort((a, b) => a.id - b.id)

const { t } = useI18n(Astro.url.pathname)
---

<Layout pageName={t('nav.venue')}>
  <main>
    <div class="container py-8 md:py-12">
      <h1 class="mb-8">{t('nav.venue')}</h1>
      <p class="mb-12" set:html={t('venue.description')} />
      <h2 class="mb-8">3F</h2>
      <div class="mb-20 grid gap-4 md:grid-cols-3">
        {booth_3f.map(booth => <Booth booth={booth} />)}
      </div>
      <div class="mx-auto my-10 mb-20 max-w-3xl">
        <Venue3F />
      </div>
      <h2 class="mb-8">4F</h2>
      <div class="mb-20 grid gap-4 md:grid-cols-3">
        {booth_4f.map(booth => <Booth booth={booth} />)}
      </div>
      <div class="mx-auto my-10 max-w-3xl">
        <Venue4F />
      </div>
    </div>
  </main>
</Layout>

<script>
  import { showModalWith } from '~/utils/client/modal'

  document.querySelectorAll('.booth-card').forEach(card => {
    card.addEventListener('click', () => {
      const body = card.querySelector('.modal-content .body')?.innerHTML
      if (!body) return
      showModalWith({
        header: null,
        body,
        size: 'lg'
      })
    })
  })

  document.querySelectorAll('.booth.clickable').forEach(booth => {
    booth.addEventListener('click', () => {
      const boothId = booth.attributes.getNamedItem('data-booth').value
      document.querySelector(`.booth-card[data-booth='${boothId}']`)?.dispatchEvent(new Event('click'))
    })
  })
</script>
