<div
  id="cookie-notice"
  class="fixed bottom-0 z-50 flex w-full items-center justify-center bg-slate-200 p-4"
  role="dialog"
  aria-label="Cookie"
  style="box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1); display: none;"
>
  <div data-i18n="cookie">本網站使用 cookies 於廣告、社群與分析等用途，藉以增進您的使用體驗，繼續使用本網站即代表您同意使用 cookies。</div>
  <button class="btn btn-primary my-auto ms-3 shrink-0" data-i18n="agree">同意</button>
</div>

<script>
  import $ from 'jquery'

  const storage = window.sessionStorage

  if (!storage.getItem('agreeCookie')) {
    $('#cookie-notice').css('display', '')
  }

  $('#cookie-notice button').on('click', function () {
    storage.setItem('agreeCookie', 'true')
    $('#cookie-notice').css('display', 'none')
  })
</script>
