---
import { useI18n } from '~/i18n/utils'

const t = useI18n(Astro.url.pathname)
---

<div
  id="cookie-notice"
  class="fixed bottom-0 z-50 flex w-full items-center justify-center bg-slate-200 p-4"
  role="dialog"
  aria-label="Cookie"
  style="box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1); display: none;"
>
  <div>{t.cookieNotice}</div>
  <button class="btn btn-primary my-auto ms-3 shrink-0">{t.common.agree}</button>
</div>

<script>
  import $ from 'jquery'

  const storage = window.sessionStorage

  if (!storage.getItem('agreeCookie')) {
    $('#cookie-notice').css('display', '')
  }

  $('#cookie-notice button').on('click', function () {
    storage.setItem('agreeCookie', 'true')
    $('#cookie-notice').css('display', 'none')
  })
</script>
