---
import { useI18n } from '~/i18n/utils'
import { pathnameWithoutBaseAndLocale } from '~/utils/build/pathnameWithoutBaseAndLocale'
import Icon from '~/components/Icon.astro'
import Link from '~/components/Link.astro'

const { t } = useI18n(Astro.url.pathname)
const pathname = pathnameWithoutBaseAndLocale(Astro.url.pathname)
---

<style>
  @reference "~/styles/_tailwind.css";

  .footer-link {
    @apply w-max text-neutral-300 transition-colors hover:text-neutral-100;
  }

  .rolling-list a {
    @apply text-neutral-300;
    &:hover > * {
      animation: iconMouseIn 0.3s ease forwards;
    }
    &:not(:hover) > * {
      animation: iconMouseOut 0.3s ease forwards;
    }
  }
</style>

<footer class="grid place-items-center bg-black py-10 text-white">
  <div class="container">
    <nav class="grid grid-cols-2 gap-8 md:grid-cols-3" aria-label="Sitemap">
      <div class="order-1 grid h-fit leading-loose">
        <div class="mb-4 text-xl font-bold">Summit 2026</div>
        <Link class="footer-link" href="agenda/day1">{t('nav.agenda')}</Link>
        <Link class="footer-link" href="speaker">{t('nav.speaker')}</Link>
        <Link class="footer-link" href="staff">{t('nav.staff')}</Link>
        <Link class="footer-link" href="visit">{t('nav.visit')}</Link>
        <Link class="footer-link" href="venue">{t('nav.venue')}</Link>
        <Link class="footer-link" href="sponsor">{t('nav.sponsor')}</Link>
      </div>
      <div class="order-2 grid h-fit leading-loose">
        <div class="mb-4 text-xl font-bold">{t('footer.pastSites')}</div>
        <a class="footer-link" href="//summit.g0v.tw/2024" target="_blank">2024</a>
        <a class="footer-link" href="//summit.g0v.tw/2020" target="_blank">2020</a>
        <a class="footer-link" href="//summit.g0v.tw/2018" target="_blank">2018</a>
        <a class="footer-link" href="//summit.g0v.tw/2016" target="_blank">2016</a>
        <a class="footer-link" href="//summit.g0v.tw/2014" target="_blank">2014</a>
      </div>
      <div class="order-3 grid h-fit leading-loose md:order-0">
        <div class="mb-4 text-xl font-bold">{t('nav.about')}</div>
        <a class="footer-link" href="https://g0v.hackmd.io/@summit2026/book/" target="_blank">{t('footer.docs')}</a>
        <Link class="footer-link" href="coc-procedure">{t('footer.coc')}</Link>
        <Link class="footer-link" href="notice">{t('nav.notice')}</Link>
        <Link class="footer-link" href="safety">{t('nav.safety')}</Link>
      </div>
    </nav>
    <div class="mt-12 flex flex-wrap items-center gap-x-8 gap-y-4">
      <span>CC BY 4.0 @ g0v Summit 2026</span>
      <a href="https://justfont.com" target="_blank" class="footer-link flex items-center gap-2"><img src="img/partners/justfont_logo.png" width="20" height="20" />{t('footer.webfont')}</a>
      <a class="footer-link" href="//github.com/g0v/summit2026/issues" target="_blank">{t('footer.bugreport')}</a>
      <div class="rolling-list flex items-center gap-4">
        <a class="inline-flex" href="https://www.facebook.com/g0v.tw/" target="_blank"><Icon icon="ri:facebook-fill" width="30" height="30" /></a>
        <a class="inline-flex" href="https://www.instagram.com/g0v.tw/" target="_blank"><Icon icon="ri:instagram-line" width="30" height="30" /></a>
        <a class="inline-flex" href="https://x.com/g0vtw/" target="_blank"><Icon icon="ri:twitter-x-line" width="30" height="30" /></a>
        <a class="inline-flex" href="https://g0v.social/@summit" target="_blank"><Icon icon="ri:mastodon-fill" width="30" height="30" /></a>
        <a class="inline-flex" href="https://www.threads.com/@g0v.summit" target="_blank"><Icon icon="ri:threads-fill" width="30" height="30" /></a>
      </div>
    </div>
  </div>
</footer>
