---
import { useI18n, getLocaleFromPath } from '~/i18n/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

const locale = getLocaleFromPath(Astro.url.pathname)
const { href, ...props } = Astro.props

// 如果 href 是字串且不是外部連結，就自動加上語系前綴
let localizedHref = typeof href === 'string' && !href.startsWith('http') ? getRelativeLocaleUrl(locale, href) : href
if (localizedHref.includes('#') && localizedHref.endsWith('/')) {
  localizedHref = localizedHref.slice(0, -1)
}
---

<a href={localizedHref} {...props}>
  <slot />
</a>
