---
import Icon from '~/components/Icon.astro'
---

<div id="modal" class="pointer-events-none fixed top-0 left-0 z-99999 flex h-full w-full items-center justify-center bg-black/20 p-4 opacity-0 backdrop-blur-xs transition-opacity duration-300">
  <div class="flex max-h-full max-w-full translate-y-5 flex-col rounded-lg bg-white p-2 py-6 pb-0 transition-transform duration-300 md:min-w-80">
    <div class="modal-header mb-6 px-4"></div>
    <div class="modal-body overflow-y-auto px-4"></div>
    <div class="flex items-center justify-center bg-white py-2">
      <button id="modal-close-btn" class="text-info hover:text-info-dark grid place-items-center transition-colors">
        <Icon name="mdi:close-circle" width="28" />
      </button>
    </div>
  </div>
</div>

<script>
  import { hideModal } from '~/utils/client/modal'

  const modalEl = document.querySelector('#modal')
  const modalCloseBtnEl = document.querySelector('#modal-close-btn')

  modalEl?.addEventListener('click', e => {
    if (e.target !== e.currentTarget) return
    hideModal()
  })

  modalCloseBtnEl.addEventListener('click', hideModal)
</script>

<style>
  #modal.show {
    opacity: 1;
    pointer-events: auto;
  }

  #modal.show > div {
    translate: 0;
  }
</style>
