---
import { useI18n } from '~/i18n/utils'
import Icon from '~/components/Icon.astro'
const { t } = useI18n(Astro.url.pathname)

interface Props {
  modelPath?: string
  scenePath?: string
  initCamera?: [number, number, number]
  invertOrbit?: boolean
}

const { modelPath = '', scenePath = '', initCamera = [5, -1, 5], invertOrbit = false } = Astro.props
---

<div class="viewer-container">
  <div class="overlay hidden">
    <span class="overlay-text">
      <Icon icon="mdi:gesture-spread" width="80" height="80" />
      {t('index.interact')}
    </span>
  </div>
  <div class="model-viewer" data-model-path={modelPath} data-scene-path={scenePath} data-init-camera={JSON.stringify(initCamera)} data-invert-orbit={invertOrbit}></div>
</div>

<style>
  .viewer-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .model-viewer {
    cursor: grab;
    width: 100%;
    height: 100%;

    canvas {
      touch-action: pan-y !important;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  .overlay.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .overlay-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    iconify-icon {
      animation: pinchLoop 0.5s ease-in-out infinite alternate;
    }
  }
</style>

<script>
  import { initModelViewer } from '~/scripts/modelViewer'
  initModelViewer()
  const isTouchDevice = () => {
    return 'ontouchstart' in window || navigator.maxTouchPoints > 0
  }
  let isScrolling
  window.addEventListener('scroll', function () {
    const overlay = document.querySelector('.overlay')

    if (isTouchDevice()) {
      overlay?.classList.remove('hidden')
    }

    window.clearTimeout(isScrolling)

    isScrolling = setTimeout(function () {
      overlay?.classList.add('hidden')
    }, 1000)
  })
</script>
