---
import { useI18n, getLocaleFromPath } from '~/i18n/utils'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { pathnameWithoutBaseAndLocale } from '~/utils/build/pathnameWithoutBaseAndLocale'

const locale = getLocaleFromPath(Astro.url.pathname)
const { t } = useI18n(Astro.url.pathname)
const pathname = pathnameWithoutBaseAndLocale(Astro.url.pathname)
---

<nav id="navbar" class="sticky top-0 z-999 flex h-14 w-full items-center bg-black text-white shadow-md">
  <div class="container flex h-full items-center">
    <a id="logo" class="mr-auto" href="./">
      <img src="./img/g0v-summit-logo-w.svg" alt="g0v Summit 2026" class="h-12" />
    </a>

    <div class="hidden h-full items-center md:flex">
      <a class="nav-link" href={getRelativeLocaleUrl(locale, 'agenda')}>{t('nav.agenda')}</a>
      <a class="nav-link" href={getRelativeLocaleUrl(locale, 'visit')}>{t('nav.visit')}</a>
      <a class="nav-link" href={getRelativeLocaleUrl(locale, 'venue')}>{t('nav.venue')}</a>
      <a class="nav-link" href={getRelativeLocaleUrl(locale, 'speaker')}>{t('nav.speaker')}</a>
      <a class="nav-link" href={getRelativeLocaleUrl(locale, 'sponsor')}>{t('nav.sponsor')}</a>
      <a class="nav-link" href={getRelativeLocaleUrl(locale, 'about')}>{t('nav.about')}</a>

      <div class="group relative flex h-full items-center gap-2 px-4 font-bold">
        <span class="flex cursor-pointer items-center gap-2">
          Language
          <iconify-icon icon="mdi:language" width="18" height="18"></iconify-icon>
        </span>

        <div
          class="pointer-events-none absolute top-0 right-0 bottom-0 left-0 block w-max transform-[translateY(90%)] opacity-0 transition-[opacity,transform] group-hover:pointer-events-auto group-hover:transform-[translateY(100%)] group-hover:opacity-100"
        >
          <div class="mt-1 flex flex-col">
            <a href={getRelativeLocaleUrl('zh-tw', pathname)} class="lang-btn zh-btn w-full cursor-pointer bg-black px-6 py-2 text-white transition-[background-color] hover:bg-neutral-500">華語</a>
            <a href={getRelativeLocaleUrl('en', pathname)} class="lang-btn en-btn w-full cursor-pointer bg-black px-6 py-2 text-white transition-[background-color] hover:bg-neutral-500">English</a>
          </div>
        </div>
      </div>
    </div>

    <button id="toggle-nav-btn" class="grid h-6 place-items-center md:hidden">
      <div id="burger"></div>
    </button>

    <div id="mobile-nav" class="absolute top-full right-0 left-0 grid grid-rows-[0fr] overflow-hidden bg-black text-white transition-[grid-template-rows] md:hidden">
      <div class="min-h-0">
        <div class="flex flex-col items-center gap-3 py-3">
          <a class="mobile-nav-item" href="#intro" data-i18n="nav.summit_info">年會資訊</a>
          <a class="mobile-nav-item" href="./guidelines" data-i18n="nav.cfp">徵稿辦法</a>
          <a class="mobile-nav-item" href="https://g0v-summit-2026.oen.tw/" target="_blank" data-i18n="nav.donate">支持 Summit</a>

          <div class="flex items-center gap-2 py-2 text-xl">
            <iconify-icon icon="material-symbols:globe-asia" width="24" height="24"></iconify-icon>
            <button class="lang-btn zh-btn">華語</button>
            <span>|</span>
            <button class="lang-btn en-btn">English</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="btn-brand hidden h-full shrink-0 items-center justify-center px-8 md:flex" href="#">{t('nav.register')}</a>
</nav>

<script>
  import $ from 'jquery'

  // toggle mobile nav
  const $mobileNav = $('#mobile-nav')

  $('#toggle-nav-btn').on('click', toggleMobileNav)
  $('.mobile-nav-item').on('click', toggleMobileNav)

  function toggleMobileNav() {
    $mobileNav.toggleClass('grid-rows-[0fr] grid-rows-[1fr]')
    $mobileNav.toggleClass('shadow-md')
    $('#burger').toggleClass('is-active')
  }
</script>
