<div id="staging-info" class="fixed bottom-0 left-0 z-50 w-full bg-orange-400 text-center text-white">
  This is staging site. Please check <a href="https://summit.g0v.tw/">https://summit.g0v.tw/</a>
</div>
