---
import '~/styles/base.css'
import Head from '~/components/Head.astro'
import Navbar from '~/components/Navbar.astro'
import Footer from '~/components/Footer.astro'
import CookieNotice from '~/components/CookieNotice.astro'
import StagingInfo from '~/components/StagingInfo.astro'
import Modal from '~/components/Modal.astro'
import { isStaging } from '~/utils/build/isStaging'
import { getLocaleFromPath } from '~/i18n/utils'

const locale = getLocaleFromPath(Astro.url.pathname)
const { pageName } = Astro.props
---

<html lang={locale}>
  <Head pageName={pageName} />
  <body>
    <div class="flex min-h-screen flex-col">
      <Navbar />
      <div class="mb-auto min-w-0">
        <slot />
      </div>
      <Footer />
      <CookieNotice />
      {isStaging() && <StagingInfo />}
    </div>
    <Modal />

    <script>
    (() => {
      const insertRule = CSSStyleSheet.prototype.insertRule;
      CSSStyleSheet.prototype.insertRule = function(rule, index) {
        if (rule.includes('@font-face') && !rule.includes('font-display'))
          rule = rule.replace(/}\s*$/, ';font-display:swap;}');
        return insertRule.call(this, rule, index);
      };
    })();
    </script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/iconify-icon@3.0.0/dist/iconify-icon.min.js"></script>
    <script is:inline src="https://s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-65861.js"></script>
  </body>
</html>
