---
import { useI18n, getLocaleFromPath } from '~/i18n/utils'
const { t } = useI18n(Astro.url.pathname)
---

<svg
  viewBox="0 0 890.900032043457 472.00000381469727"
  style="max-width: 890.900032043457px;"
  height="472.00000381469727"
  aria-labelledby="chart-title-mermaid-1779009129919 chart-desc-mermaid-1779009129919"
  role="img"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  id="mermaid-1779009129919"
  ><title id="chart-title-mermaid-1779009129919"></title><desc id="chart-desc-mermaid-1779009129919"></desc><style>
    #mermaid-1779009129919 {
      font-family: Onest, Candara, sans-serif;
      font-size: 16px;
      fill: #333;
    }
    #mermaid-1779009129919 .error-icon {
      fill: #552222;
    }
    #mermaid-1779009129919 .error-text {
      fill: #552222;
      stroke: #552222;
    }
    #mermaid-1779009129919 .edge-thickness-normal {
      stroke-width: 2px;
    }
    #mermaid-1779009129919 .edge-thickness-thick {
      stroke-width: 3.5px;
    }
    #mermaid-1779009129919 .edge-pattern-solid {
      stroke-dasharray: 0;
    }
    #mermaid-1779009129919 .edge-pattern-dashed {
      stroke-dasharray: 3;
    }
    #mermaid-1779009129919 .edge-pattern-dotted {
      stroke-dasharray: 2;
    }
    #mermaid-1779009129919 .marker {
      fill: #333333;
      stroke: #333333;
    }
    #mermaid-1779009129919 .marker.cross {
      stroke: #333333;
    }
    #mermaid-1779009129919 svg {
      font-family: Onest, Candara, sans-serif;
      font-size: 16px;
    }
    #mermaid-1779009129919 .label {
      font-family: Onest, Candara, sans-serif;
      color: #333;
    }
    #mermaid-1779009129919 .cluster-label text {
      fill: #333;
    }
    #mermaid-1779009129919 .cluster-label span {
      color: #333;
    }
    #mermaid-1779009129919 .label text,
    #mermaid-1779009129919 span {
      fill: #333;
      color: #333;
    }
    #mermaid-1779009129919 .node rect,
    #mermaid-1779009129919 .node circle,
    #mermaid-1779009129919 .node ellipse,
    #mermaid-1779009129919 .node polygon,
    #mermaid-1779009129919 .node path {
      fill: #ececff;
      stroke: #9370db;
      stroke-width: 1px;
    }
    #mermaid-1779009129919 .node .label {
      text-align: center;
    }
    #mermaid-1779009129919 .node.clickable {
      cursor: pointer;
    }
    #mermaid-1779009129919 .arrowheadPath {
      fill: #333333;
    }
    #mermaid-1779009129919 .edgePath .path {
      stroke: #333333;
      stroke-width: 2px;
    }
    #mermaid-1779009129919 .flowchart-link {
      stroke: #333333;
      fill: none;
    }
    #mermaid-1779009129919 .edgeLabel {
      background-color: #e8e8e8;
      text-align: center;
    }
    #mermaid-1779009129919 .edgeLabel rect {
      opacity: 0.5;
      background-color: #e8e8e8;
      fill: #e8e8e8;
    }
    #mermaid-1779009129919 .cluster rect {
      fill: #ffffde;
      stroke: #aaaa33;
      stroke-width: 1px;
    }
    #mermaid-1779009129919 .cluster text {
      fill: #333;
    }
    #mermaid-1779009129919 .cluster span {
      color: #333;
    }
    #mermaid-1779009129919 div.mermaidTooltip {
      position: absolute;
      text-align: center;
      max-width: 200px;
      padding: 2px;
      font-family: Onest, Candara, sans-serif;
      font-size: 12px;
      background: hsl(80, 100%, 96.2745098039%);
      border: 1px solid #aaaa33;
      border-radius: 2px;
      pointer-events: none;
      z-index: 100;
    }
    #mermaid-1779009129919 :root {
      --mermaid-font-family: Onest, Candara, sans-serif;
    }
  </style><g transform="translate(0, 0)"
    ><marker orient="auto" markerHeight="12" markerWidth="12" markerUnits="userSpaceOnUse" refY="5" refX="9" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-pointEnd"
      ><path style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 0 0 L 10 5 L 0 10 z"></path></marker
    ><marker orient="auto" markerHeight="12" markerWidth="12" markerUnits="userSpaceOnUse" refY="5" refX="0" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-pointStart"
      ><path style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 0 5 L 10 10 L 10 0 z"></path></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5" refX="11" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-circleEnd"
      ><circle style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" r="5" cy="5" cx="5"></circle></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5" refX="-1" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-circleStart"
      ><circle style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" r="5" cy="5" cx="5"></circle></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5.2" refX="12" viewBox="0 0 11 11" class="marker cross flowchart" id="flowchart-crossEnd"
      ><path style="stroke-width: 2; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 1,1 l 9,9 M 10,1 l -9,9"></path></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5.2" refX="-1" viewBox="0 0 11 11" class="marker cross flowchart" id="flowchart-crossStart"
      ><path style="stroke-width: 2; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 1,1 l 9,9 M 10,1 l -9,9"></path></marker
    ><g class="root"
      ><g class="clusters"
        ><g id="年會參與者、志工、講者" class="cluster default"
          ><rect height="294.60000228881836" width="473.35001373291016" y="8" x="409.5500183105469" ry="0" rx="0" style=""></rect><g transform="translate(556.3000221252441, 13)" class="cluster-label"
            ><foreignObject height="23.200000762939453" width="179.85000610351562"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">年會參與者、志工、講者</span></div></foreignObject
            ></g
          ></g
        ></g
      ><g class="edgePaths"
        ><path
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-S LE-Physical"
          id="L-S-Physical-0"
          d="M135.3792739318056,283.50000190734863L164.64523056532303,261.3000017801921C193.91118719884048,239.1000016530355,252.44310046587532,194.70000139872232,298.1382245289988,172.50000127156576C343.8333485921224,150.30000114440918,376.69168345133465,150.30000114440918,402.7375183105469,150.30000114440918C428.7833531697591,150.30000114440918,448.0166880289714,150.30000114440918,457.63335545857746,150.30000114440918L467.2500228881836,150.30000114440918"
        ></path><path
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-S LE-Virtual"
          id="L-S-Virtual-0"
          d="M181.08360391988003,283.50000190734863L202.73217222205173,277.6666685740153C224.3807405242234,271.83333524068195,267.67787712856676,260.1666685740153,305.75561286034457,254.33333524068198C343.8333485921224,248.50000190734863,376.69168345133465,248.50000190734863,397.2875175476074,248.50000190734863C417.8833516438802,248.50000190734863,426.21668497721356,248.50000190734863,430.3833516438802,248.50000190734863L434.5500183105469,248.50000190734863"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Physical LE-Admin"
          id="L-Physical-Admin-0"
          d="M545.6772069246401,131.20000076293945L563.7976771419934,119.6833340326945C581.9181473593467,108.16666730244954,618.1590877940532,85.13333384195964,648.6212251866995,73.61666711171468C679.0833625793457,62.10000038146973,703.7666969299316,62.10000038146973,716.1083641052246,62.10000038146973L728.4500312805176,62.10000038146973"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Physical LE-Info"
          id="L-Physical-Info-0"
          d="M564.0000228881836,150.30000114440918L579.0666904449463,150.30000114440918C594.133358001709,150.30000114440918,624.2666931152344,150.30000114440918,648.9500274658203,150.30000114440918C673.6333618164062,150.30000114440918,692.8666954040527,150.30000114440918,702.483362197876,150.30000114440918L712.1000289916992,150.30000114440918"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Physical LE-Email"
          id="L-Physical-Email-0"
          d="M559.8754841506736,169.4000015258789L575.6295748303546,176.20000155766806C591.3836655100357,183.00000158945718,622.8918468693977,196.6000016530355,649.6251048515282,205.7791014651317C676.3583628336588,214.95820127722791,698.316697438558,219.7164008378421,709.2958647410074,222.09550061814915L720.275032043457,224.47460039845626"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Virtual LE-Email"
          id="L-Virtual-Email-0"
          d="M596.7000274658203,248.50000190734863L606.3166942596436,248.50000190734863C615.9333610534668,248.50000190734863,635.1666946411133,248.50000190734863,655.7625287373861,247.65933061255268C676.3583628336588,246.8186593177567,698.316697438558,245.13731672816482,709.2958647410074,244.29664543336887L720.275032043457,243.4559741385729"
        ></path><path
          style="fill:none;stroke-width:2px;stroke-dasharray:3;"
          class="edge-thickness-normal edge-pattern-dotted flowchart-link LS-S LE-Organizer"
          id="L-S-Organizer-0"
          d="M181.08360391988003,321.7000026702881L202.73217222205173,327.5333360036214C224.3807405242234,333.36666933695477,267.67787712856676,345.0333360036214,305.75561286034457,350.86666933695477C343.8333485921224,356.7000026702881,376.69168345133465,356.7000026702881,404.1000181833903,356.7000026702881C431.508352915446,356.7000026702881,453.46668752034503,356.7000026702881,464.4458548227946,356.7000026702881L475.42502212524414,356.7000026702881"
        ></path><path
          style="fill:none;stroke-width:2px;stroke-dasharray:3;"
          class="edge-thickness-normal edge-pattern-dotted flowchart-link LS-S LE-External"
          id="L-S-External-0"
          d="M137.1487236262309,321.7000026702881L166.1197719773441,342.233336130778C195.0908203284573,362.7666695912679,253.03291703068373,403.83333651224774,298.4331328114031,424.3666699727376C343.8333485921224,444.90000343322754,376.69168345133465,444.90000343322754,401.37501843770343,444.90000343322754C426.05835342407227,444.90000343322754,442.56668853759766,444.90000343322754,450.82085609436035,444.90000343322754L459.07502365112305,444.90000343322754"
        ></path></g
      ><g class="edgeLabels"
        ><g class="edgeLabel"
          ><g transform="translate(0, 0)" class="label"
            ><foreignObject height="0" width="0"><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g
          ></g
        ><g class="edgeLabel"
          ><g transform="translate(0, 0)" class="label"
            ><foreignObject height="0" width="0"><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g
          ></g
        ><g transform="translate(654.4000282287598, 62.10000038146973)" class="edgeLabel"
          ><g transform="translate(-24.524999618530273, -11.600000381469727)" class="label"
            ><foreignObject height="23.200000762939453" width="49.04999923706055"><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel">籌備會</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(654.4000282287598, 150.30000114440918)" class="edgeLabel"
          ><g transform="translate(-32.70000076293945, -11.600000381469727)" class="label"
            ><foreignObject height="23.200000762939453" width="65.4000015258789"><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel">年會活動</span></div></foreignObject
            ></g
          ></g
        ><g class="edgeLabel"
          ><g transform="translate(0, 0)" class="label"
            ><foreignObject height="0" width="0"><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g
          ></g
        ><g class="edgeLabel"
          ><g transform="translate(0, 0)" class="label"
            ><foreignObject height="0" width="0"><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel"></span></div></foreignObject></g
          ></g
        ><g transform="translate(310.97501373291016, 356.7000026702881)" class="edgeLabel"
          ><g transform="translate(-65.4000015258789, -11.600000381469727)" class="label"
            ><foreignObject height="23.200000762939453" width="130.8000030517578"
              ><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel">涉及申訴小組成員</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(310.97501373291016, 444.90000343322754)" class="edgeLabel"
          ><g transform="translate(-73.57500457763672, -11.600000381469727)" class="label"
            ><foreignObject height="23.200000762939453" width="147.15000915527344"
              ><div style="display: inline-block; white-space: nowrap;"><span class="edgeLabel">涉及總召或行政組長</span></div></foreignObject
            ></g
          ></g
        ></g
      ><g class="nodes"
        ><g transform="translate(785.0000305175781, 62.10000038146973)" id="flowchart-Admin-35" class="node default default"
          ><rect height="38.20000076293945" width="113.0999984741211" y="-19.100000381469727" x="-56.54999923706055" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-49.04999923706055, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="98.0999984741211"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">通知行政組長</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(515.6250228881836, 150.30000114440918)" id="flowchart-Physical-32" class="node default"
          ><rect height="38.20000076293945" width="96.75" y="-19.100000381469727" x="-48.375" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-40.875, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="81.75"><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">發生在現場</span></div></foreignObject></g
          ></g
        ><g transform="translate(785.0000305175781, 150.30000114440918)" id="flowchart-Info-37" class="node default default"
          ><rect height="38.20000076293945" width="145.8000030517578" y="-19.100000381469727" x="-72.9000015258789" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-65.4000015258789, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="130.8000030517578"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">至年會服務台求助</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(785.0000305175781, 238.50000190734863)" id="flowchart-Email-40" class="node default default"
          ><rect height="38.20000076293945" width="129.45000457763672" y="-19.100000381469727" x="-64.72500228881836" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-57.22500228881836, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="114.45000457763672"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">寫信至申訴信箱</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(515.6250228881836, 248.50000190734863)" id="flowchart-Virtual-33" class="node default"
          ><rect height="38.20000076293945" width="162.15000915527344" y="-19.100000381469727" x="-81.07500457763672" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-73.57500457763672, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="147.15000915527344"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">發生在線上或活動後</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(110.20000457763672, 302.60000228881836)" id="flowchart-S-30" class="node default default"
          ><rect height="38.20000076293945" width="204.4000062942505" y="-19.100000381469727" x="-102.20000314712524" ry="19.100000381469727" rx="19.100000381469727" style=""></rect><g
            transform="translate(-89.92500305175781, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="179.85000610351562"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">如果你要提的案件是⋯⋯</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(515.6250228881836, 356.7000026702881)" id="flowchart-Organizer-42" class="node default default"
          ><rect height="38.20000076293945" width="80.4000015258789" y="-19.100000381469727" x="-40.20000076293945" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-32.70000076293945, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="65.4000015258789"><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">通知總召</span></div></foreignObject
            ></g
          ></g
        ><g transform="translate(515.6250228881836, 444.90000343322754)" id="flowchart-External-44" class="node default default"
          ><rect height="38.20000076293945" width="113.0999984741211" y="-19.100000381469727" x="-56.54999923706055" ry="0" rx="0" style="" class="basic label-container"></rect><g
            transform="translate(-49.04999923706055, -11.600000381469727)"
            style=""
            class="label"
            ><foreignObject height="23.200000762939453" width="98.0999984741211"
              ><div style="display: inline-block; white-space: nowrap;"><span class="nodeLabel">通知外部委員</span></div></foreignObject
            ></g
          ></g
        ></g
      ></g
    ></g
  ></svg
>
