---
import { useI18n, getLocaleFromPath } from '~/i18n/utils'
const { t } = useI18n(Astro.url.pathname)
---

<style>
  .edgeLabel {
    font-size: 12px;
    background-color: #e8e8e8;
    text-align: center;
    padding: 0 4px;
  }
  .nodeLabel {
    border: 2px solid #9370db;
    background-color: #ececff;
    padding: 5px 10px;
  }
</style>
<svg
  viewBox="-20 0 310 703.0000076293945"
  style="max-width: 310px;"
  height="703.0000076293945"
  aria-labelledby="chart-title-mermaid-1779009129969 chart-desc-mermaid-1779009129969"
  role="img"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  id="mermaid-1779009129969"
  ><title id="chart-title-mermaid-1779009129969"></title><desc id="chart-desc-mermaid-1779009129969"></desc><style>
    #mermaid-1779009129969 {
      font-family: Onest, Candara, sans-serif;
      font-size: 16px;
      fill: #333;
    }
    #mermaid-1779009129969 .error-icon {
      fill: #552222;
    }
    #mermaid-1779009129969 .error-text {
      fill: #552222;
      stroke: #552222;
    }
    #mermaid-1779009129969 .edge-thickness-normal {
      stroke-width: 2px;
    }
    #mermaid-1779009129969 .edge-thickness-thick {
      stroke-width: 3.5px;
    }
    #mermaid-1779009129969 .edge-pattern-solid {
      stroke-dasharray: 0;
    }
    #mermaid-1779009129969 .edge-pattern-dashed {
      stroke-dasharray: 3;
    }
    #mermaid-1779009129969 .edge-pattern-dotted {
      stroke-dasharray: 2;
    }
    #mermaid-1779009129969 .marker {
      fill: #333333;
      stroke: #333333;
    }
    #mermaid-1779009129969 .marker.cross {
      stroke: #333333;
    }
    #mermaid-1779009129969 svg {
      font-family: Onest, Candara, sans-serif;
      font-size: 16px;
    }
    #mermaid-1779009129969 .label {
      font-family: Onest, Candara, sans-serif;
      color: #333;
    }
    #mermaid-1779009129969 .cluster-label text {
      fill: #333;
    }
    #mermaid-1779009129969 .cluster-label span {
      color: #333;
    }
    #mermaid-1779009129969 .label text,
    #mermaid-1779009129969 span {
      fill: #333;
      color: #333;
    }
    #mermaid-1779009129969 .node rect,
    #mermaid-1779009129969 .node circle,
    #mermaid-1779009129969 .node ellipse,
    #mermaid-1779009129969 .node polygon,
    #mermaid-1779009129969 .node path {
      fill: #ececff;
      stroke: #9370db;
      stroke-width: 1px;
    }
    #mermaid-1779009129969 .node .label {
      text-align: center;
    }
    #mermaid-1779009129969 .node.clickable {
      cursor: pointer;
    }
    #mermaid-1779009129969 .arrowheadPath {
      fill: #333333;
    }
    #mermaid-1779009129969 .edgePath .path {
      stroke: #333333;
      stroke-width: 2px;
    }
    #mermaid-1779009129969 .flowchart-link {
      stroke: #333333;
      fill: none;
    }
    #mermaid-1779009129969 .edgeLabel {
      background-color: #e8e8e8;
      text-align: center;
    }
    #mermaid-1779009129969 .edgeLabel rect {
      opacity: 0.5;
      background-color: #e8e8e8;
      fill: #e8e8e8;
    }
    #mermaid-1779009129969 .cluster rect {
      fill: #ffffde;
      stroke: #aaaa33;
      stroke-width: 1px;
    }
    #mermaid-1779009129969 .cluster text {
      fill: #333;
    }
    #mermaid-1779009129969 .cluster span {
      color: #333;
    }
    #mermaid-1779009129969 div.mermaidTooltip {
      position: absolute;
      text-align: center;
      max-width: 200px;
      padding: 2px;
      font-family: Onest, Candara, sans-serif;
      font-size: 12px;
      background: hsl(80, 100%, 96.2745098039%);
      border: 1px solid #aaaa33;
      border-radius: 2px;
      pointer-events: none;
      z-index: 100;
    }
    #mermaid-1779009129969 :root {
      --mermaid-font-family: Onest, Candara, sans-serif;
    }
  </style><g transform="translate(0, 0)"
    ><marker orient="auto" markerHeight="12" markerWidth="12" markerUnits="userSpaceOnUse" refY="5" refX="9" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-pointEnd"
      ><path style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 0 0 L 10 5 L 0 10 z"></path></marker
    ><marker orient="auto" markerHeight="12" markerWidth="12" markerUnits="userSpaceOnUse" refY="5" refX="0" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-pointStart"
      ><path style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 0 5 L 10 10 L 10 0 z"></path></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5" refX="11" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-circleEnd"
      ><circle style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" r="5" cy="5" cx="5"></circle></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5" refX="-1" viewBox="0 0 10 10" class="marker flowchart" id="flowchart-circleStart"
      ><circle style="stroke-width: 1; stroke-dasharray: 1, 0;" class="arrowMarkerPath" r="5" cy="5" cx="5"></circle></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5.2" refX="12" viewBox="0 0 11 11" class="marker cross flowchart" id="flowchart-crossEnd"
      ><path style="stroke-width: 2; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 1,1 l 9,9 M 10,1 l -9,9"></path></marker
    ><marker orient="auto" markerHeight="11" markerWidth="11" markerUnits="userSpaceOnUse" refY="5.2" refX="-1" viewBox="0 0 11 11" class="marker cross flowchart" id="flowchart-crossStart"
      ><path style="stroke-width: 2; stroke-dasharray: 1, 0;" class="arrowMarkerPath" d="M 1,1 l 9,9 M 10,1 l -9,9"></path></marker
    ><g class="root"
      ><g class="clusters"></g><g class="edgePaths"
        ><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Start LE-Examine"
          id="L-Start-Examine-0"
          d="M141.44999885559082,46.20000076293945L141.44999885559082,50.36666742960612C141.44999885559082,54.53333409627279,141.44999885559082,62.86666742960612,141.53333218892416,71.28333409627278C141.61666552225748,79.70000076293945,141.78333218892416,88.20000076293945,141.86666552225748,92.45000076293945L141.94999885559082,96.70000076293945"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Examine LE-Accept"
          id="L-Examine-Accept-0"
          d="M118.58389848736007,134.9000015258789L113.4032484215753,138.98333485921225C108.22259835579051,143.06666819254556,97.86129822422095,151.23333485921225,92.68064815843616,161.41666825612387C87.49999809265137,171.6000016530355,87.49999809265137,183.80000178019205,87.49999809265137,196.00000190734863C87.49999809265137,208.20000203450522,87.49999809265137,220.40000216166177,87.49999809265137,230.66666889190674C87.49999809265137,240.9333356221517,87.49999809265137,249.26666895548502,87.49999809265137,253.4333356221517L87.49999809265137,257.60000228881836"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Accept LE-Meeting"
          id="L-Accept-Meeting-0"
          d="M87.49999809265137,295.8000030517578L87.49999809265137,301.9000031153361C87.49999809265137,308.00000317891437,87.49999809265137,320.200003306071,87.49999809265137,332.40000343322754C87.49999809265137,344.6000035603841,87.49999809265137,356.8000036875407,87.49999809265137,362.90000375111896L87.49999809265137,369.00000381469727"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Meeting LE-Decide"
          id="L-Meeting-Decide-0"
          d="M87.49999809265137,407.2000045776367L87.49999809265137,411.3666712443034C87.49999809265137,415.53333791097003,87.49999809265137,423.8666712443034,87.58333142598472,432.28333791097003C87.66666475931807,440.7000045776367,87.83333142598475,449.2000045776367,87.91666475931811,453.4500045776367L87.99999809265145,457.70000457763666"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Decide LE-Confirm"
          id="L-Decide-Confirm-0"
          d="M76.16108432511463,495.9000053405761L72.29673668328238,501.91667207082105C68.43238904145012,507.9333388010661,60.70369375778561,519.966672261556,56.839346115953354,532.0833390553793C52.974998474121094,544.2000058492025,52.974998474121094,556.400005976359,52.974998474121094,562.5000060399374L52.974998474121094,568.6000061035156"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Confirm LE-Execute"
          id="L-Confirm-Execute-0"
          d="M52.974998474121094,606.8000068664551L52.974998474121094,610.9666735331217C52.974998474121094,615.1333401997884,52.974998474121094,623.4666735331217,52.974998474121094,631.8000068664551C52.974998474121094,640.1333401997884,52.974998474121094,648.4666735331217,52.974998474121094,652.6333401997884L52.974998474121094,656.8000068664551"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;"
          class="edge-thickness-normal edge-pattern-solid flowchart-link LS-Decide LE-Reject"
          id="L-Decide-Reject-0"
          d="M112.27265809498773,495.0546841914941L120.48763142793167,501.2122377799194C128.7026047608756,507.3697913683447,145.13255142676348,519.6848985451953,159.25587311834775,531.9424521971989C173.37919480993205,544.2000058492025,185.19589152721275,556.400005976359,191.10423988585308,562.5000060399374L197.01258824449343,568.6000061035156"
        ></path><path
          marker-end="url(#flowchart-pointEnd)"
          style="fill:none;stroke-width:2px;stroke-dasharray:3;"
          class="edge-thickness-normal edge-pattern-dotted flowchart-link LS-Examine LE-Reject"
          id="L-Examine-Reject-0"
          d="M183.66899017503528,134.9000015258789L192.68665825667208,138.98333485921225C201.70432633830885,143.06666819254556,219.73966250158242,151.23333485921225,228.7573305832192,161.41666825612387C237.77499866485596,171.6000016530355,237.77499866485596,183.80000178019205,237.77499866485596,196.00000190734863C237.77499866485596,208.20000203450522,237.77499866485596,220.40000216166177,237.77499866485596,233.85000228881836C237.77499866485596,247.30000241597494,237.77499866485596,262.00000254313153,237.77499866485596,278.6333360671997C237.77499866485596,295.2666695912679,237.77499866485596,313.83333651224774,237.77499866485596,332.40000343322754C237.77499866485596,350.96667035420734,237.77499866485596,369.5333372751872,237.77499866485596,386.16667079925537C237.77499866485596,402.80000432332355,237.77499866485596,417.50000445048016,237.77499866485596,432.2000045776367C237.77499866485596,446.9000047047933,237.77499866485596,461.6000048319499,237.77499866485596,478.23333835601807C237.77499866485596,494.86667188008624,237.77499866485596,513.433338801066,235.33691521078381,528.8166723251343C232.89883175671164,544.2000058492025,228.02266484856736,556.400005976359,225.58458139449522,562.5000060399374L223.14649794042305,568.6000061035156"
        ></path></g
      >
      <g class="edgeLabels"
        ><g transform="translate(10, 180)" class="edgeLabel">
          <foreignObject height="50" width="160">
            <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="edgeLabel mx-auto">{t('cocProcedure.diagram2.caseLabel1')}</span></div>
          </foreignObject>
        </g><g transform="translate(0, 510)" class="edgeLabel">
          <foreignObject height="50" width="100">
            <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="edgeLabel mx-auto">{t('cocProcedure.diagram2.caseLabel2')}</span></div>
          </foreignObject>
        </g><g transform="translate(100, 510)" class="edgeLabel">
          <foreignObject height="50" width="120">
            <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="edgeLabel mx-auto">{t('cocProcedure.diagram2.caseLabel3')}</span></div>
          </foreignObject>
        </g><g transform="translate(155, 300)" class="edgeLabel">
          <foreignObject height="50" width="160">
            <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="edgeLabel mx-auto">{t('cocProcedure.diagram2.caseLabel4')}</span></div>
          </foreignObject>
        </g>
        <g class="nodes"
          ><g transform="translate(70, 27)" id="flowchart-Start-74" class="node default">
            <foreignObject height="50" width="150">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel1')}</span></div>
            </foreignObject>
          </g><g transform="translate(60, 98)" id="flowchart-Examine-75" class="node default">
            <foreignObject height="50" width="170">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel2')}</span></div>
            </foreignObject>
          </g><g transform="translate(15, 258)" id="flowchart-Accept-77" class="node default default">
            <foreignObject height="50" width="150">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel3')}</span></div>
            </foreignObject>
          </g><g transform="translate(0, 370)" id="flowchart-Meeting-79" class="node default">
            <foreignObject height="50" width="200">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel4')}</span></div>
            </foreignObject>
          </g><g transform="translate(10, 458)" id="flowchart-Decide-80" class="node default default">
            <foreignObject height="50" width="160">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel5')}</span></div>
            </foreignObject>
          </g><g transform="translate(5, 568)" id="flowchart-Confirm-82" class="node default default">
            <foreignObject height="50" width="100">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel6')}</span></div>
            </foreignObject>
          </g><g transform="translate(0, 658)" id="flowchart-Execute-83" class="node default">
            <foreignObject height="50" width="115">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel7')}</span></div>
            </foreignObject>
          </g><g transform="translate(135, 569)" id="flowchart-Reject-85" class="node default">
            <foreignObject height="50" width="150">
              <div style="display: inline-flex; white-space: nowrap; width: 100%;"><span class="nodeLabel mx-auto">{t('cocProcedure.diagram2.nodeLabel8')}</span></div>
            </foreignObject>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
